<section class="tj-work">
	<div class="container">
		<div class="row justify-content-between align-items-center tj-work__titles">
			<div class="col-md-6">
				<h2 class="section__title tj-work__title">
					our works
				</h2>
			</div>
			<div class="col-md-3">
				<a href="#" class="tj-work__dribble">
					<p class="tj-work__drible-text my-0">
						See All Project in dribble
					</p>
					<span class="tj-work__link-span"></span>
				</a>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
	<div class="container-fluid text-center px-0">
		<div class="row no-gutters tj-work__box-img">
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
			<div class="col-xl-2 col-md-4 col-sm-6 ">
				<img src="<%= blocks.imgholder %>320/200/nature" alt="" class="tj-work__img">
			</div>
		</div> <!-- /.row -->
	</div>
</section>